@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section menu_Items
{
    <nav id="menu" class="navbar">
        <div class="navbar-header"> <span class="visible-xs visible-sm"> منو <b></b></span></div>
        <div class="container">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="home_link" title=" تماس ها" href="@Url.Action("Index", new { controller = "RecievedCalls", area = "CallManagement" })">تماس ها</a>
                    </li>
               
                    <li class="dropdown">
                        <a class="home_link" title=" تماس گیرندگان" href="@Url.Action("Index", new { controller = "Callers", area = "CallManagement" })">تماس گیرندگان</a>
                    </li>                     
                </ul>
            </div>
        </div>
    </nav>
}

@RenderBody()